@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: radial-gradient(#8C1236,#2A0116);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Roboto Condensed";
    font-weight: 400;
}

header{
    font-weight: 700;
    color: whitesmoke;
    font-size: 2em;
}

li > a{
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}

ul{
    display: flex;
    list-style: none;
    margin-left: 30px;
}

li{
    margin: 15px;
    padding: 5px;
}

section{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    align-items: center;
}

button{
    margin: 12px;
    height: 50px;
    width: 300px;
    border-radius: 35px;
    font-size: 1.2em;
    font-weight: bolder;
    background-color: whitesmoke;
}

a > button{
    color:rgb(179, 132, 15);
    text-decoration: none;
    cursor: pointer;
}

#calendar{
    margin-top: 20px;
    font-weight: 700;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
}
#about{
    margin-top: 20px;
    font-weight: 700;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
}