@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

main{
    font-family: "Comic Neue";
    font-weight: 400;
}

header{
    font-weight: 700;
}

a{
    cursor: pointer;
    text-decoration: none;
}

